*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 4s infinite;
}
.sky{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}
.trees{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    top: -118px;
}
.track{
    position: absolute;
    height: 40vh;
    width: 800vw;
    background-image: url(track.png);
    /* background-size: cover; */
    top: 70vh;
    animation: carMove linear 4s infinite;
}
.car{
    height: 100px;
    width: 320px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    bottom: 29vh;
    animation: shake linear 4s infinite;
}

.wheel1 img{ 
    width: 60px;
    position: relative;
    top: 40px;
    left: 46px;
    animation: wheelRotation linear .3s infinite;
}
.wheel2 img{
    width: 69px;
    position: relative;
    top: -26px;
    left: 217px;
    animation: wheelRotation linear .3s infinite;
}

@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-4px);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(-4px);
    }
}
@keyframes shakebody{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}